<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <div style="width: 300px;margin-top: 10%;">
        <h1 style="color: red;padding-top: 30px">梁山人员登录系统</h1>
        <div style="width: 300px;background-color: #b1dfbb">
<form action="login" method="post" style="padding-bottom: 30px;padding-top: 30px">
        用户名：<input type="text" name="name"/><br><br/>
        密码：<input type="password" name="pwd"/><br><br/>
        <a href ="reg.jsp"><h5>注册</h5></a><br/>
        <input type="submit" value="提交"/>
</form>
        </div>
    </div>
    <center>

</body>
</html>