<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>IOT</title>
    <style type="text/css">
    </style>
</head>
<body>
<link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet"/>

<div class="jumbotron">
    <h1 class="display-4"><span>物联网中间件</span></h1>
    <p class="lead" style="margin-top: 50px"><small class="text-muted">
    </small></p>
    <hr class="my-4"/>
    <p></p>
    <a class="btn btn-primary btn-lg" th:href="@{/toLogin}" role="button">登录</a><a style="margin-left: 80px" class="btn btn-primary btn-lg" href="#" th:href="@{/toRegister}" role="button">注册</a>
</div>

</body>
</html>
