<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="customerDao" class="com.imooc.demo6.CustomerDao"></bean>
    <bean id="studentDao" class="com.imooc.demo6.StudentDao"></bean>

    <bean id="myBeforeAdvice" class="com.imooc.demo6.MyBeforeAdvice"></bean>
    <bean id="myAroundAdvice" class="com.imooc.demo6.MyAroundAdvice"></bean>

    <bean id="myAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="pattern" value="com\.imooc\.demo6\.StudentDao\.save"></property>
        <property name="advice"  ref="myBeforeAdvice"></property>
    </bean>

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"></bean>
</beans>