<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="customer" class="com.imooc.demo4.Customer"></bean>

    <bean id="myAroundAdvice" class="com.imooc.demo4.MyAroundAdvice"></bean>
    
    <!--一般切面是使用通知作为切面的，对目标类的某个方法进行增强就需要配置一个带有切入点的切面-->
    <bean id="myAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <!--pattern中配置正则表达式  .任意字符 *任意次数-->
        <property name="patterns" value=".*delete.*,.*save.*" />
        <property name="advice" ref="myAroundAdvice"></property>
    </bean>

    <bean id="customerProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="customer"></property>
        <property name="proxyTargetClass" value="true"></property>
        <property name="interceptorNames" value="myAdvisor"></property>

    </bean>
</beans>